<?xml version="1.0"?>
<!--
/**
 * Payrexx Payment Gateway
 *
 * Copyright © 2018 PAYREXX AG (https://www.payrexx.com)
 * See LICENSE.txt for license details.
 *
 * @copyright   2018 PAYREXX AG
 * @author      Payrexx <support@payrexx.com>
 * @package     magento2
 * @subpackage  payrexx_payment_gateway
 * @version     1.0.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <payrexx_payment>
                <active>0</active>
                <title>Payrexx</title>
                <payment_action>authorize</payment_action> <!-- You can use another methor like capture  -->
                <order_status>pending_payment</order_status> <!-- set default order status-->
                <model>Payrexx\PaymentGateway\Model\PaymentMethod</model>
                <sort_order>1</sort_order>
            </payrexx_payment>
            <payrexx_payment_mastercard>
                <active>0</active>
                <title>Mastercard by Payrexx</title>
                <payment_action>authorize</payment_action> <!-- You can use another methor like capture  -->
                <order_status>pending_payment</order_status> <!-- set default order status-->
                <model>Payrexx\PaymentGateway\Model\PaymentMethodMastercard</model>
                <sort_order>1</sort_order>
            </payrexx_payment_mastercard>
        </payment>
    </default>
</config>
