<?xml version="1.0"?>
<!--
/**
 * Payrexx Payment Gateway Module
 *
 * @category  Payrexx
 * @package   Payrexx_PaymentGateway
 * @author    Support <support@payrexx.com>
 * @copyright PAYREXX AG
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Payrexx_PaymentGateway" setup_version="1.3.19">
        <sequence>
            <module name="Magento_Sales"/>
            <module name="Magento_Payment"/>
            <module name="Magento_Checkout"/>
        </sequence>
    </module>
</config>
