<!--
/**
 * Payrexx Payment Gateway
 *
 * Copyright © 2023 PAYREXX AG (https://www.payrexx.com)
 * See LICENSE.txt for license details.
 *
 * @copyright   2023 PAYREXX AG
 * @author      Payrexx <support@payrexx.com>
 * @package     magento2
 * @subpackage  payrexx_payment_gateway
 * @version     1.0.0
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() === isChecked())}, visible: deviceSupported()">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {
               id: getCode()
               },
               value: getCode(),
               checked: isChecked,
               click: selectPaymentMethod,
               visible: isRadioButtonVisible()" />
        <label class="label" data-bind="attr: {'for': getCode()}">
            <span data-bind="text: getTitle()"></span>
            <!-- ko if: getCode() !== 'payrexx_payment' -->
            <img data-bind="attr: {
                    src: require.toUrl('Payrexx_PaymentGateway/images/cardicons/') +
                    getCode().replace('payrexx_payment_', 'card_') + '.svg'
                }"
                class="payrexx-payment-icon"
                style="max-height: 30px"/>
            <!--/ko-->
        </label>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="payment-method-note">
            <!-- ko i18n: 'You will be redirected to the Payrexx website when you place an order.' -->
            <!-- /ko -->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        enable: (getCode() === isChecked()),
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        attr: {title: $t('Place Order')}
                        " disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
